#user-container{
  float: right;
}

main>section{
  max-height: 80%;
}

header{
  /* background-color: #3399ff; */
  /* color: white; */
}

body{
  background-color: #f5f5f5;
}

section{
  max-height: 100%;
}

#messages-section{
  overflow-y: inherit;
}

#messages-card-container{
  background-color: white;
  max-height: 80%;
}



#message{
  position: relative;
  padding-top: 1%;
}

#msg-submit-btn{
  /* position: relative; */
} 

#icon-msg-submit{
  position: relative;
  top: -40%;
  vertical-align: middle; 
}

#messages{
  max-height: 100%;
  overflow-y: auto;
}

.contact{
  color: #757575;
  border-bottom: 1px solid #706a6a;
  padding-top: 3%;
}

.message-container:first-of-type {
  border-top-width: 0;
}
.message-container {
  display: block;
  margin-top: 10px;
  border-top: 1px solid #f3f3f3;
  padding-top: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.message-container.visible {
  opacity: 1;
}
.message-container .pic {
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 20px;
}
.message-container .spacing {
  display: table-cell;
  vertical-align: top;
}
.message-container .message {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 0 5px 10px;
}
.message-container .name .date{
  display: inline-block !important;
  width: 100% !important;
  padding-left: 40px !important;
  color: #bbb !important;
  font-style: italic !important;
  font-size: 12px !important;
  box-sizing: border-box !important;
}

.name .date {
  color: gray !important;
  font-style: italic !important;
  font-size: 0.9em !important;
  margin-left: 1em !important;
}

.message>img{
  max-width: 90%;
}

#user-container{
  padding-right: 3%;
}

.contact>div>img{
  width: 65%;
}

body{
  transform: scale(0.95);
  transform-origin: 0 0;
}

/* for modal backdrop across entire page, otherwise there is empty white space along bottom and right sides of backdrop */
 .modal-backdrop{
  width: 300% !important;
  height: 300% !important;
} 

.modal{
  height: 1000%;
}

#group-user-search{
  z-index:3000;
}

@media screen and (max-width: 575px){
  
  .contact>div{
    float: left;
  }
  .contact>div:nth-child(1){
    width:30%;
  }
  .contact>div:nth-child(2){
    width: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .contact>div>img{
    width: 120%;
  }
}